$header-height: 64px;
$side-bar-width: 280px;
$btn-width: 160px;
$logo-size: 24px;
$dropdown-menu-horz-padding: 20px;
$dropdown-width: 160px;

$break-small: 320px;
$break-custom-a: 940px;
$break-large: 1125px;

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    $side-bar-width: 100px;
}