@import './shared.scss';

.card {
    width: 100%;
    padding: 16px;
    background: white;
    box-shadow: 0 0px 3px rgba(#eee, 0.5);

    div.info {
        display: inline-flex;
        flex-direction: column;

        .info__description {
            font-size: .8em;
            color: $text-color;
            margin-bottom: 5px;
        }

        .info__description {
            font-size: .7em;
            color: rgba(#333, .5);
        }
    }
}