@import './shared.scss';
@import './Normalize.scss';

* {
    box-sizing: border-box;
    outline-color: transparent;
}

label {
    text-align: left;
}

body {
    margin: 0;
    box-sizing: border-box;
    background: #F7F8FA;
    font-family: 'Roboto', sans-serif;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icon--overview {
    background: url('../icons/overview.svg') no-repeat;
    @include icon--default();
}

.icon--all-payments {
    background: url('../icons/all-payments.svg') no-repeat;
    @include icon--default();
}

.icon--reconcilled-payments {
    background: url('../icons/reconcilled-pay.svg') no-repeat;
    @include icon--default();
}

.icon--unreconcilled-payments {
    background: url('../icons/unreconcilled-pay.svg') no-repeat;
    @include icon--default();
}

.icon--manual-settlement {
    background: url('../icons/manual-settlement.svg') no-repeat;
    @include icon--default();
}

.icon--all-orders {
    background: url('../icons/all-orders.svg') no-repeat;
    @include icon--default();
}

.icon--pending-orders {
    background: url('../icons/pending-orders.svg') no-repeat;
    @include icon--default();
}

.icon--reconcilled-orders {
    background: url('../icons/reconcilled-orders.svg') no-repeat;
    @include icon--default();
}

.icon--merchant-profile {
    background: url('../icons/merchant-profile.svg') no-repeat;
    @include icon--default();
}

.icon--search {
    background: url('../icons/search.svg') no-repeat;
    @include icon--default();
}

.icon--arrow-down {
    background: url('../icons/arrow-down.svg') no-repeat;
    @include icon--default();
}

.icon--arrow-down--grey {
    background: url('../icons/arrow-down-grey.svg') no-repeat;
    @include icon--default();
}

.icon--notification {
    background: url('../icons/bell.svg') no-repeat;
    @include icon--default();
}

button.icon-btn {
    border: none;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 0;
    align-self: center;
    background: transparent;

    .icon-btn--badge {
        position: absolute;
        top: 0.5px;
        right: 0.5px;
        width: 16px;
        height: 16px;
        font-size: .9em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;
        background: $blue;
    }

    .icon {
        width: 18px;
        height: 18px;
        display: inline-block;
    }
}

.flex {
    display: flex;
    align-items: center;
}



.space {
    flex: 1 1 auto;
}


.pagination {
    display: flex;
    justify-content: flex-end;
    margin: 12px 0;

    a {
        color: #000 !important;
    }
    
    a, span  {
        padding: 10px 14px;
        border: 1px solid #CED0DA;
        overflow: hidden;
        text-decoration: none;
        transition: all 300ms ease-in-out;
        color: #979797;

        &:hover, &.active {
            background: #1875F0;
            color: white !important;
            transition: all 300ms ease-in-out;
        }
    }

    span:nth-child(odd) {
        border-right: none;
        border-left: 1px solid #CED0DA;
    }

    span:nth-child(even) {
        border-right: none;
        border-left: 1px solid #CED0DA;
    }


    a:first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border-right: none;
    }

    a:last-child {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

